/* Importing my font from google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&family=Montserrat:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat Alternates', sans-serif;
    background: url(./Images/Rectangle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;

}

/* Styling my navigationbar and logo */

/* Making the nav stay at the top when you scroll with position "fixed" */

/* Adding z-index for nav, so it stays as the top layer */

nav{
    position: fixed;
    top: 0;
    z-index: 2000;
    height: 80px;
    width: 100%;
}

/* Pushing my logo with padding */

label.logo{
    padding: 0 20px;
}

/* Making second logo disapear */

label.logo2{
    display: none;
}

/* Placing my ul at the right-side of the screen */

nav ul{
    float: right;
    margin-left: 20px;
}

/* Styling for my li */

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
}

/* Styling for my text */

nav ul li a{
    color: white;
    font-size: 15px;
    font-weight: 500;
}

/* Styling my burger-menu bars and gives it display none in dekstop version */

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}

#check{
    display: none;
}

/* Styling my two buttons */ 

.btn1{
    font-family: 'Montserrat Alternates', sans-serif;;
    background: none;
    color: white;
    text-decoration: none;
    border: 2px solid;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    letter-spacing: 2px;
    font-size: 13px;
    margin-right: 20px;
    cursor: pointer;
}

.btn2{
    font-family: 'Montserrat Alternates', sans-serif;;
    background: #FAF33E;
    color: #2F3032;
    text-decoration: none;
    border: 2px solid;
    border-color: #FAF33E;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    letter-spacing: 2px;
    font-size: 13px;
    margin-right: 20px;
    cursor: pointer;
}

/* Styling for my hero-section */ 

/* Styling my container, hero & row with flexbox */ 

.container{
    max-width: 90%;
    margin: 0 auto;
    color: white;
}

.hero{
    align-items: center;
    flex-wrap: wrap-reverse;
}

.hero>*{
    flex: 1 1 25em;
}

.row{
    display: flex;
}

/* Styling for my heading & text */

h1{
    font-size: 48px;
    margin-bottom: 2rem;
    margin-left: 80px;
}

p{
    font-size: 16px;
    margin-left: 80px;
}

/* Styling for my two cta buttons */

.container a.cta1{
    background: #FAF33E;
    color: #2F3032;
    text-decoration: none;
    border: 2px solid;
    border-color: #FAF33E;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 25px;
    letter-spacing: 2px;
    font-size: 13px;
    margin-right: 20px;
    cursor: pointer;
    margin-left: 80px;
}

.container a.cta2{
    background: none;
    color: white;
    text-decoration: none;
    border: 2px solid;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 25px;
    letter-spacing: 2px;
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
    margin-top: 2rem;
}

/* Styling my solution-section */ 

/* Adding background picture */ 

.solution{
    background: url(./Images/Rectangle-white3.jpg);
    margin-top: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Using flexbox on the class main & graph */

.main{
    display: flex;
}

.graph{
    flex: 60%;
    padding: 5px;
    text-align: center;
    margin: -160px 0px 0px 0px;

}

/* Styling my heading, text and button*/ 

h2{
    color: #2F3032;
    font-size: 24px;
    margin-bottom: 35px;
    margin-left: 80px;
}

/* Using flex and margin to place my text */

.text{
    flex: 40%;
    padding: 5px;
    margin: -110px 180px 0px 0px;
}

p.info{
    color: #2F3032;
    font-size: 16px;
    margin-bottom: 25px;
}

p.info1{
    color: #2F3032;
    font-size: 16px;
    margin-bottom: 45px;
}

.cta3{
    font-family: 'Montserrat Alternates', sans-serif;;
    background: #0700F6;
    color: white;
    text-decoration: none;
    border: 2px solid #0700F6;
    padding: 15px 25px;
    margin-left: 80px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 2rem;
}

/* Styling my start-section */ 

/* Adding background picture */ 

.Start{
    background: url(./Images/background-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

/* Using the felxbox-proberty on my two divs and placing the elements with margin */

.main2{
    display: flex;
}

.chatflow{
    flex: 60%;
    padding: 5px;
    text-align: center;
    margin: 200px 0px 0px 0px;
}

.text2{
    flex: 50%;
    padding: 5px;
    margin: 275px 0px 0px 180px;
}

/* Styling my text & button */

p.info2{
    color: #2F3032;
    font-size: 16px;
    margin-bottom: 45px;
}

.cta4{
    font-family: 'Montserrat Alternates', sans-serif;;
    background: #FAF33E;
    color: #2F3032;
    text-decoration: none;
    border: 2px solid #FAF33E;
    padding: 15px 25px;
    margin-left: 80px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 2rem;
}

/* Styling for my function-section */

/* Giving my div display flex, and placing my inner-divs with flex and margin */

.main3{
    display: flex;

}

.screen{
    flex: 60%;
    padding: 5px;
    text-align: center;
    margin: 0px 0px -220px 0px;
}

.text3{
    flex: 40%;
    padding: 5px;
    margin: 175px 180px 0px 0px;
}

/* Button and text styling */ 

p.info3{
    color: #2F3032;
    font-size: 16px;
    margin-bottom: 45px;
}

.cta5{
    font-family: 'Montserrat Alternates', sans-serif;;
    background: #0700F6;
    color: white;
    text-decoration: none;
    border: 2px solid #0700F6;
    padding: 15px 25px;
    margin-left: 80px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 2rem;
}

/* Styling for my data-section and reuse two of my previous classes */

/* Adding background picture and setting the height */ 

.Data{
    background: url(./Images/background-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 115vh;
}

/* Using flexbox & margin on my two divs */

.lock{
    flex: 60%;
    padding: 5px;
    text-align: center;
    margin: 300px 0px 0px 0px;
}

.text5{
    flex: 50%;
    padding: 5px;
    margin: 500px 0px 0px 180px;
}

/* Styling for heading and text */

.heading{
    color: white;
}

p.info8{
    color: white;
    font-size: 16px;
    margin-bottom: 45px;
}

/* Styling for the partner-section, where i used a lot of the same stylings from my third section */ 

/* Adding background picture and setting the height */ 

.Partner{
    background: url(./Images/white-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 30vh;
}

/* Placing class with flex and margin */

.partners{
    flex: 60%;
    padding: 5px;
    text-align: center;
    margin: 180px 0px 0px 0px;
}

/* Hidding the second picture on desktop-version */ 

.mobile{
    display: none;
}

/* Styling for the clietns-section */ 

/* Adding background picture and setting the height */ 

.clients{
    background: url(./Images/Rectangle-587.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 80vh;
}

/* Styling for the div and text */

.text4{
    text-align: center;
    margin: 250px 10px 50px 10px;
}

p.info4{
    color: #2F3032;
    font-size: 16px;
    margin-bottom: 45px;
    text-align: center;
}

/* Styling my class with flexbox and adding a direction for the flex */

.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Styling for my cards */

.card{
    background: white;
    color: black;
    width: 250px;
    height: 340px;
    margin: 10px;
    border-radius: 10%;
    box-shadow: 0px 2px 4px 1px rgba(190, 193, 202, 0.5); 
}

/* Styling for my text inside the cards */

p.info5{
    margin: 20px 35px 20px 35px;
    padding: 0;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    position: relative;
    top: 45%;
    transform: translateY(-55%);
    letter-spacing: 2px;
}

p.info6{
    margin: 20px 35px 20px 35px;
    padding: 0;
    font-size: 12px;
    text-align: left;
    position: relative;
    top: 30%;
}

/* Styling for my footer-section */

/* Using flexbox on the footer and adding the background color */

footer{
    background-color: #2F3032;
    color: white;
    display: flex;
    flex-direction: column;
}

/* Styling my container inside the footer and using display flex to place the elements inside */

.container2{
    display: flex;
    margin-top: 100px;
    margin-bottom: 120px;
}

.container2 p{
    font-size: 16px ;
}

/* Styling the two divs indside my container, and givning them equal grow relative to eachother */

.contact{
    flex-grow: 1;
    flex-basis: 100%;
}

.links{
    margin-top: 90px;
    flex-grow: 1;
    flex-basis: 100%;
    line-height: 1.5em;
}

/* Styling the text in my container with margin */

.links p{
    color: white;
    text-decoration: none;
    list-style: none;
    margin: 15px 0px 10px 450px;
}

.copy p{
    text-align: center;
    margin: 100px 0px 0px 0px;
}

.contact p{
    margin: 15px 0px 0px 160px;
}

/* Styling image with margin inside the container */

.contact img{
    margin: 0px 0px 0px 150px;
}

/* Placing the icons with margin and adding font-size */

.contact p i{
    margin: 5px 15px 0px 0px;
    font-size: 20px;
}

/* Styling my icons size, color and adding a border around, plus placing them with margin indside the border */

.contact a i{
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 30px -130px 0px 160px;
    text-align: center;
    font-size: 28px;
    line-height: 55px;
}

/* Styling my bottom text with margin and text-align */ 

.copyright{
    margin-bottom: 50px;
    text-align: center;
}

/* Styling my scolling-active class, which allows me to chance the content in the navigation, when you scroll */

/* Setting the background-color for navigation on scroll */

.scrolling-active{
    background-color: white;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

/* Changing the color of the text on scroll */

.scrolling-active ul li a{
    color: #2F3032;
}

/* Changing the button-color */

.scrolling-active .btn1{
    color: #2F3032;
}

/* Removing the with logo */

.scrolling-active label.logo{
    display: none;
}

/* Adding the black version of the logo on scroll */

.scrolling-active label.logo2{
    padding: 0 20px;
    display: inline-block;
    margin: -8px 0 0 0;
}

/* Changes the color of the burger-menu bars on scroll */ 

.scrolling-active .checkbtn{
    color: #2F3032;
}

/* Adding my media quries, which makes all the elements in my code responsive in different viewports */ 

/* Making my navigation responsive */

@media (max-width: 965px){

/* Adding the font-size for my text in the navgation */

    nav ul li a{
        font-size: 16px;
    }

/* Making my burger-menu appear */ 

    .checkbtn{
        display: block;
    }

/* Removing my cta buttons from the nav */

    button{
        display: none;
    }

/* Styling for my ul's, giving the class a transition and making it disapear on default */

    ul{
        position: fixed;
        width: 50%;
        top: 80px;
        right: -100%;
        transition: all .5s;
        background-color: white;
        text-align: center;
        border-radius: 25px 0 0 25px;
        box-shadow: 2px 4px 10px #2F3032;
    }

/* Changing the background-color of my ul's on scroll */

    .scrolling-active ul{
        background-color: #2F3032;
       
    }

/* Giving my nav display block and placing it with margin */

    nav ul li{
        display: block;
        margin: 40px 0;
        line-height: 30px;
    }

/* Styling for text in the nav */

    nav ul li a{
        margin: 10px 10px 10px 25px;
        color: #2F3032;
    }

/* Changing the text color on scroll */

    .scrolling-active ul li a{
        color: white;
    }

/* Making the ul's appear when you click on the burger-menu */

    #check:checked ~ ul{
        right: 0;
    }

/* Styling for the container */

    .container{
        max-width: 90%;
        margin: 0 auto;
        color: white;
    }
}

/* Adding my media quries, which makes all the elements in my code responsive in different viewports */ 

/* Making text, buttons & cards responsive */

@media screen and (max-width: 1285px){

/* Setting the width for my picture in the hero-section */

    .row img{
        width: 100%;
    }

/* Changing the font-size for my headings */

    h1{
    font-size: 36px;
    margin-top: 100px;
    }

    h2{
        font-size: 20px;
    }

/* Changing the font-size for my text */

    p.info, p.info1, p.info2, p.info3, p.info4, p.info5, p.info6, p.info7, p.info8{
        font-size: 13px;
    }

/* Placing my text in the center */

    p.info4{
        font-size: 16px;
    }

    p.info7{
        font-size: 16px;
        text-align: center;
    }

/* Adding padding for my button & changing the font-size */ 

    .cta3, .cta4, .cta5, .container a.cta1, .container a.cta2{
        padding: 10px 25px;
        font-size: 10px;
    }

/* Placing my text with margin */

    .text{
        margin: 50px 100px 0px 0px ;
    }

    .text2{
        margin: 250px 0px 0px 0px;
    }

    .text3{
        flex: 50%;
        margin: 165px 100px 0px 0px;
    }

    .text5{
        margin: 450px 100px 0px 0px;
    }

/* Adding margin for footer links */

    .links p{
        margin: 15px 0px 0px 150px;
    }

/* Giving my div box flex-direction */

    .box{
        flex-direction: row;
    }

/* Adding margin for cards */

    .card{
        margin: 10px 10px 10px 10px;
    }

/* Removing margin for my div */

    .graph{
        margin: 0;
    }

/* Increasing the hieght for background */

    .clients{
        height: 115vh;
    }
}

/* Adding my media quries, which makes all the elements in my code responsive in different viewports */ 

/* Making text, buttons, divs & pictures responsive */

@media screen and (max-width: 840px){

/* Making the width of picture smaller */

    .row img{
        width: 80%;
    }

/* Setting the font-size for my headings & placing them with margin*/

    h1{
        font-size: 30px;
        text-align: center;
        margin-left: 0;
    }

    h2{
        font-size: 24px;
        margin: 25px 0px 0px 20px;
    }

/* Placing my text with margin */ 

    p{
        margin: 20px 20px 20px 20px;
    }

/* Setting the font-size for my text and placing it on the left */

    p.info, p.info1, p.info2, p.info3, p.info8{
        text-align: left;
        font-size: 16px;
    }

/* Giving margin for the buttons in the container */

    .container a.cta1, a.cta2{
        margin: 0;
        margin-left: 35px;

    }

/* Giving margin and padding, plus changing the font-size */

    a.cta3{
        margin-left: 15px;
        padding: 10px 25px;
        font-size: 12px;
        margin-bottom: 70px;  
    }

    a.cta4, a.cta5{
        margin-left: 15px;
        padding: 10px 25px;
        font-size: 12px;
        margin-bottom: 100px;
    }

/* Placing the divs with margin, with makes a gap between each section */

    .text{
        margin: 0;
    }

    .text2{
        margin: 120px 0 0 0;
    }

    .text3{
        margin: 50px 0 0 0;
    }

    .text4{
        margin: 0px 10px 0px 10px;
    }

    .text5{
        margin: 300px 0 0 0;
    }

/* Placing my divs with margin */ 

    .chatflow{
        margin: 40px 15px 0px 0px;
    }

    .partners{
        margin: 0;
    }

    .links{
        margin-top: 0;
    }

/* Giving my divs flex-direction */

    .main{
        flex-direction: column-reverse;
    }
    
    .main2{
        flex-direction: column;
    }

    .main3{
        flex-direction: column-reverse;
    }

/* Changing the picture direction */
    
    .desk{
        display: none;
    }

    .mobile{
        display: block;
    }
    
/* Placing my section with margin */
    
    .solution{
        margin-top: 50%;
    }

/* Placing my images with margin */

    .solution img{
        margin: 25px 15px 0px 0px;

    }

    .screen img{
        width: 100%;
        margin: 0px 25px 0px -25px;
    }

    .lock img{
        margin: -300px 0 0 0;
        
    }

    .contact img{
        margin: 0px 0px 0px 40px;
    }

/* Placing the text in my container on the left side */

    .container2{
        text-align: left;
    }

/* Placing my text and icons in the footer with margin */

    .contact p{
       margin: 15px 0px 0px 50px;
    }

    .contact a i{
        margin: 30px -20px 0px 50px;
    }

    .links p{
        margin: 15px 0px 0px 50px;
    }
}

/* Adding my media quries, which makes all the elements in my code responsive in different viewports */ 

@media only screen and (max-width: 800px){
    
/* Giving my second container flex-direction, so the cards wil be in a column */
    
    .container2{
        flex-direction: column;
    }

/* Changing the color og my second cta-button, to make it visible */

    .container a.cta2{
        color: #2F3032;
        border: 2px solid #2F3032;
        font-weight: 700;
    }

/* Changing the hight of my background-images */ 

    .clients{
        height: 290vh;
    }

    .Partner{
        height: 110vh;
    }
}

@media only screen and (max-width: 700px){

/* Giving the image a max-width, to make it responsive */

    .lock img{
        max-width: 100%;
    }

/* Removing top-margin for my heading */
    
    h1{
        margin-top: 0;
    }


/* Giving the image a top-margin to push it down */

    .row img{
        margin-top: 50px;
    }
}